.ExerciseTable {
    display: block;
    table-layout: auto;
    border-collapse: collapse;
    cursor: pointer;
    margin: 10px 0;
}

.ExerciseTable > tbody {
    /* background-color: aqua; */
    width: 100%;
    overflow: hidden; 
    text-overflow: ellipsis; 
    word-wrap: break-word;
}

.ExerciseTable > thead {
    /* background-color: blueviolet; */
    width: 100%;
    overflow: hidden; 
    text-overflow: ellipsis; 
    word-wrap: break-word;
}

.ExerciseTable > tbody > tr > td {
    /* background-color: aqua; */
    overflow: hidden; 
    text-overflow: ellipsis; 
    word-wrap: break-word;
}

.ExerciseTable > thead > tr > th {
    /* background-color: blueviolet; */
    overflow: hidden; 
    text-overflow: ellipsis; 
    word-wrap: break-word;
}

.ListItem {
    text-align: left;
}